{% extends "layout.html" %}
{% block title %}User Vehicles{% endblock %}
{% block content %}
<p>Check over the data below to make sure there is nothing sensitive, then submit.
<p>When checking battery data please keep in mind that these are unpublished estimates. Your Lucid Service Center is the only ground truth for battery health.

<form method="POST" action="/submit">
<textarea name="grpc" style="visibility:hidden;position:absolute;">
{{ grpc_text }}
</textarea>
<textarea name="json" style="visibility:hidden;position:absolute;">
{{ pretty_json }}
</textarea>
<input type="submit" value="Submit Data" />
</form>

<article>
<h3>gRPC API Response</h3>
<pre><code>
{{ grpc_text }}
</code></pre>
</article>

<article>
<h3>JSON API Response</h3>
<pre><code>
{{ pretty_json }}
</code></pre>
</article>
{% endblock %}
