{% extends "layout.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
<h2>Log In</h2>
<p>This is a data gathering tool for the <a href="https://github.com/nshp/python-lucidmotors">unofficial Lucid API client</a>. We are looking for a variety of vehicle configurations and states to expand our support.
<p>Please log in with your Lucid account credentials.
<p>Your vehicle data will be fetched from the Lucid API and displayed to you with your sensitive data like session tokens, VINs, and location already redacted. You will have the opportunity to review the data before sharing any of it.
<form method="POST" action="/">
    <label for="email">Email Address</label>
    <input type="email" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <label for="region">Region</label>
    <select name="region">
        <option value="us" selected>United States</option>
        <option value="eu">Europe</option>
        <option value="sa">Saudi Arabia</option>
    </select>
    <br /><br />
    <input type="submit" value="Log In" />
</form>
<p>Battery capacities plotted from user submissions:
<br/>
<figure>
    <img src="/capacity_scatter.svg" alt="battery capacity scatter plot" />
    <figcaption>Note: These are only estimates, accuracy is unknown</figcaption>
</figure>
<p>We also have tools to <a href="/avatar">change your Lucid profile photo</a>, or <a href="/referrals">check your referral history</a>.
<p>And check out the <a href="https://github.com/borski/ha-lucidmotors">Home Assistant integration</a> for all kinds of statistics from and control over your Lucid vehicle.
{% endblock %}
