{% extends "layout.html" %}
{% block title %}Share Trip{% endblock %}
{% block content %}
<h2>Share Trip</h2>
<p>This tool uses the <a href="https://github.com/nshp/python-lucidmotors">unofficial Lucid API client</a> to share a trip to your car.
<p>Please enter your Lucid account credentials.
<form method="POST" action="/trip" enctype="multipart/form-data">
    <label for="email">Email Address</label>
    <input type="email" name="email" />
    <label for="password">Password</label>
    <input type="password" name="password" />
    <label for="location">Coordinates</label>
    <input type="text" name="location" placeholder="Latitude, longitude" />
    <label for="region">Region</label>
    <select name="region">
        <option value="us" selected>United States</option>
        <option value="eu">Europe</option>
        <option value="sa">Saudi Arabia</option>
    </select>
    <br /><br />
    <input type="submit" value="Submit" />
</form>
{% endblock %}
