:root {
    color-scheme: light dark;
    font-family: Helvetica, sans-serif;
}

header > h1 {
    font-size: x-large;
}

header > h1 > center > a {
    text-decoration: none;
    color: inherit;
}

header {
    margin-bottom: 2vw;
}

body {
    max-width: 80em;
    margin: auto;
}

footer {
    font-size: 0.75vw;
    margin-top: 2em;
}

footer > ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    display: block;
    font-size: small;
}

input[type="password"], input[type="text"], input[type="email"] {
    display: block;
    background-color: Field;
    outline: 1px solid FieldText;
    padding: 3px;
    margin: 1px;
    margin-bottom: 1em;
}

#messages > ul {
    list-style-type: none;
    padding: 0.5em;
    color: MarkText;
    background-color: Mark;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, th, td {
    border: 1px solid FieldText;
}

th, td {
    text-align: left;
    padding: 3px 1em 3px 1em;
}

img {
    max-width: 100%;
}
